fastapi
uvicorn
python-dotenv

pymongo

chromadb

langchain
langchain-community
langchain-text-splitters

google-generativeai

sentence-transformers

pymupdf

python-docx

numpy

pandas

pydantic

tqdm
fastapi
uvicorn
pymupdf
chromadb
sentence-transformers
langchain-text-splitters
numpy
python-dotenv
google-generativeai
pydantic