.section{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.header{

    display:flex;

    align-items:center;

    gap:10px;

    color:#0F172A;

}

.list{

    display:flex;

    flex-direction:column;

    gap:20px;

}