.card{

    background:#fff;

    border-radius:16px;

    padding:22px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 4px 18px rgba(0,0,0,.06);

}

.left{

    display:flex;

    flex-direction:column;

    gap:6px;

}

.title{

    font-size:14px;

    color:#64748b;

}

.left h2{

    font-size:28px;

    margin:0;

}

.left span{

    font-size:13px;

    color:#94a3b8;

}

.icon{

    width:54px;

    height:54px;

    border-radius:12px;

    background:#eef6ff;

    display:flex;

    justify-content:center;

    align-items:center;

}