.icon-wrapper{

display:flex;

justify-content:center;

align-items:center;

border-radius:18px;

transition:.3s;

}

.icon-wrapper:hover{

transform:translateY(-4px);

}

.icon-md{

width:56px;

height:56px;

}

.icon-lg{

width:72px;

height:72px;

}

.icon-primary{

background:#ECFEFB;

color:#00C2A8;

}

.icon-secondary{

background:#EFF6FF;

color:#2563EB;

}